<a href="https://colab.research.google.com/github/AkiBae4891/AkiBae4891.github.io/blob/master/La_Teran_Evans_LS_DS5_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
# import stuff
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import style
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel
from scipy.stats import ttest_1samp

In [2]:
# read file and add column names 
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
                , names=["party", "handicappedInfants", "waterProject", "budget", "physicianFee", "elsalvador",
                                "religiousSchool", "satTest", "nicaraguanAid", "mxMissile", "immigration", "synfuels",
                                "education", "superfund", "crime", "dutyFree", "southafricaExport"])
print(df.shape)
df.head()

(435, 17)

        party handicappedInfants waterProject  ... crime dutyFree southafricaExport
0  republican                  n            y  ...     y        n                 y
1  republican                  n            y  ...     y        n                 ?
2    democrat                  ?            y  ...     y        n                 n
3    democrat                  n            y  ...     n        n                 y
4    democrat                  y            y  ...     y        y                 y

[5 rows x 17 columns]

In [0]:
# Sep the 2 parties 

rep = df[df['party'] == 'republican']

dem = df[df['party'] == 'democrat']

In [38]:
# Change yes, no values into 1, 0 values 

df = df.replace({'y': 1, 'n': 0, '?': np.nan})
df.head()

        party  handicappedInfants  ...  dutyFree  southafricaExport
0  republican                 0.0  ...       0.0                1.0
1  republican                 0.0  ...       0.0                NaN
2    democrat                 NaN  ...       0.0                0.0
3    democrat                 0.0  ...       0.0                1.0
4    democrat                 1.0  ...       1.0                1.0

[5 rows x 17 columns]

In [39]:
df.head()

        party  handicappedInfants  ...  dutyFree  southafricaExport
0  republican                 0.0  ...       0.0                1.0
1  republican                 0.0  ...       0.0                NaN
2    democrat                 NaN  ...       0.0                0.0
3    democrat                 0.0  ...       0.0                1.0
4    democrat                 1.0  ...       1.0                1.0

[5 rows x 17 columns]

In [40]:
# test

dem['handicappedInfants'].value_counts()

y    156
n    102
?      9
Name: handicappedInfants, dtype: int64

In [41]:
dem['handicappedInfants'].isnull().sum()

0

In [42]:
rep['handicappedInfants'].value_counts()

n    134
y     31
?      3
Name: handicappedInfants, dtype: int64

In [43]:
rep['handicappedInfants'].isnull().sum()

0

In [44]:
# t test doesnt work?
from scipy.stats import ttest_1samp
ttest_1samp(dem['handicappedInfants'], (0.5), nan_policy='omit')

TypeError: ignored

In [37]:
# SA means 
print("Democrat Support: ", dem['southafricaExport'].mean())
print("Republican Support: ", rep['southafricaExport'].mean())

TypeError: ignored